
@font-face {
    font-family: 'TINY-140';
    src: url('./assets/TINY-140.woff') format('woff');
	src: url('./assets/TINY-140.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'TINY-140';
}

canvas {
	display: block;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	font-family: 'TINY-140';
}
