
@font-face {
    font-family: 'FT88-Regular';
    src:    url('./assets/FT88-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'FT88-Regular';
}

canvas {
	display: block;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	font-family: 'FT88-Regular';
}
